.rowposter{
    background-color:white;
    margin-top:2rem;
    margin-left:1rem;
}
.postercontainer{
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.poster{
    max-height: 250px;
    background-color:white;
    max-width:250px;
    margin-right:-0.5rem;
    background-size:cover;
    margin-left:2rem;
    border-radius:10px;
    border-style: solid;
    border-color: blue;
    text-align: center;
}
.poster:hover{
    transform: scale(1.1);
}
.postercontainer::-webkit-scrollbar{
    display: none;
}
.productdetails{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap:1rem;
    column-gap:1rem;
    font-weight: bold;
    margin-top:2vh;
    font-size:15px;
    margin-left:1rem;
}

#posterimg{
  margin: auto;
  height:50%;
  width:90%;
}