.menu{
    color: white;
    background-color: black;
    width:40vh;
    margin-top:-4rem;
    position:fixed;
    border-radius:10px;
}
.menulist{
    color:white;
    background-color: black;
    list-style-type: none;
    margin-left:-2rem;
}
.menulist li{
    text-decoration: none;
    background-color:black;
    text-align: center;
    padding:5px;
    font-size: 20px;
    width:200px;
}
.menunavlink{
    color:white;
    padding:15px;
}
.menulist li:hover{
    color:black;
    background-color: white;
}
.menunavlink:hover{
    color:black;
}