.productbanner{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    height:50vh;
    width:100%;
    background-color: silver;
}
.productimage{
    height:50vh;
    width:auto;
}
.btn.productbannerbtn{
    background-color: transparent;
    border-style:none;
    margin-right:3rem;
    font-size:25px;
    border-radius:50%;
    text-align: center;
}
.productdiscription{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto auto auto;
}
.btn.productbannerbtn:hover{
    color:white;
    background-color: black;
}